div {
	float: left;
	width: 100%;
	height: 100%;
}

body {
	font-size: 28px;
	color: red;
}

#img_div {
	background-image: url("../assets/goods/1.jpg");
	/* background-image: url("../assets/goods/2014092511404389617.jpg"); */
}
